#node_modules
/node_modules
/node_modules/

#npm-debug
/npm-debug.log
/npm-debug.log*

#yarn-error
/yarn-error.log
/yarn-error.log*

#dist
/dist
/dist/

#build
/build
/build/

#coverage
/coverage
/coverage/

#env
/.env
.env

#New Relic
/newrelic.cjs
/newrelic_agent.log

#config
/config/serviceAccount.json
